<!DOCTYPE html>
<html>

<head>
    <title>Resume Parser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Resume Parser</h1>
    <form method="POST" action="{{ url_for('process') }}" enctype="multipart/form-data">
        <input type="file" name="resume" onclick="updateCount()" accept=".pdf" required>
        <button type="submit">Upload</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <span class="count">0</span>
    <script>
        let count = 0;
        function updateCount() {
            count++;
            document.querySelector('.count').textContent = `${count}`;
        }
    </script>
</body>

</html>